<div class="container">
    <div class="mx-auto">
        <h1 class="text-center">Pokemon catalogue</h1>
    </div>
    <div class="d-flex justify-content-center">
        <div class="w-100 p-3">  <br/>
            <div class="row">
                <div class="col-1"></div>
                <button class="btn btn-primary col" (click)="getPreviousPokemon()" [disabled]="previous === null">Previous 20</button>
                <div class="col-2"></div>
                <button class="btn btn-primary col" (click)="getNextPokemon()">Next 20</button>
                <div class="col-1"></div>
            </div>
            <ng-container class="w-100 p-3">
                <div class="row">
                    <div *ngFor="let pokemon of allPokemons" ngValue="pokemon" class="col-2 frame">
                       <img src="{{pokemon.imageUrl}}.png">
                       <p>{{pokemon.name}}</p>
                       <button class="btn btn-primary mb-3 rounded" (click)="addPokemonToParty(pokemon)">Capture</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>